/* body * {
    border: 1px solid black;
} */

nav {
    display: flex;
    max-width: 80%;
    margin: 0 auto;
    height: 100px;

    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

nav div {
    display: flex;
    
    align-items: center;
    gap: 40px;
}

nav div p {
    color: #403930;
    font-family: Pretendard;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 30px */
}

header {
    display: flex;
    width: 90%;
    height: 700px;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

header div .left .text em {
    background: linear-gradient(99deg, #001F8F 3.58%, rgba(36, 255, 203, 0.50) 90.34%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Pretendard;
    font-size: 64px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%;
    letter-spacing: -1.28px;
}

header div {
    display: flex;
    gap:20px;
}

header div .left {
    flex: 3;
    height: 464px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
}

header div .left .hi {
    display: flex;
    padding: 12px 24px;
    justify-content: left;
    align-items: center;
    gap: 10px;
    width:75px;

    border-radius: 10px;
    background: #E6EEFF;

}

header div .left .text {
    display: flex;
    min-width: 400px;
    height: 360px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    flex-shrink: 0;
}

header div .left .text p {
    width: 550px;

    color: #333;
    font-family: Pretendard;
    font-size: 64px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%; /* 80px */
    letter-spacing: -1.28px;
}

header div .right img {
    width: 355.624px;
    height: 350px;
    flex-shrink: 0;

    border-radius: 500px;
    border: 10px solid #BCF2F9;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}

header div .left .link {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 16px;
}

header div .left .link #link1 {
    display: flex;
    width: 190px;
    height: 30px;
    padding: 24px 40px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

    border-radius: 16px;
    background: #000;

    color: #E6EEFF;
    font-family: Pretendard;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 36px */
}

header div .left .link #link2 {
    display: flex;
    width: 182px;
    height: 22px;
    padding: 24px 40px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

    border-radius: 16px;
    border: 4px solid #403930;

    color: #403930;
    font-family: Pretendard;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 36px */
}

.introduce {
    background: linear-gradient(96deg, rgba(189, 210, 255, 0.40) 1.72%, rgba(116, 224, 215, 0.40) 158.93%);
    display: flex;
    height: 497px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border:none;

}

.introduce div {
    display: flex;
    width: 40%;
    margin: 0 auto;

    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-shrink: 0;

    position: relative;
    min-width: 500px;
}

#t1 {
    color: #000;
    font-family: Pretendard;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 125%; /* 50px */
    letter-spacing: -0.8px;
}

#t2 {
    flex-shrink: 0;
    align-self: stretch;

    color: #333;
    font-family: Pretendard;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 152%; /* 30px */
}

button {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 30px;

    border-radius: 50px;
    border: 10px solid #BBD5F7;
    background: linear-gradient(98deg, #BED3FF -10.83%, #D2F3E5 51.79%, #FFEBD9 110.76%);
}

button p {
    color: rgba(64, 57, 48, 0.80);
    text-align: center;
    font-family: Pretendard;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.introduce div img {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 20px;
    left: 330px;
}

button p #email {
    font-size: 14px;
}

.stack {
    padding-bottom: 100px;
}

.stack .text {
    margin: 50px 0 20px 0;
    text-align: center;
}

.stack .text #t2 {
    color: darkgrey;
}

.stack .images {
    width: 900px;
    overflow: hidden;
    margin: 0 auto;
}

.stack .images img {
    width: 100px;
    height: 100px;
    margin: 20px;
}

.project .text {
    width:800px;
    margin : 0 auto;
}

.project .cards {
    display: flex;
    
}

.project .cards .card {
    width : 800px;
    margin: 20px auto;
    display: flex;

    border-radius: 24px;
    background: #E6EEFF;
}

.project .cards .card .left {
    width : 400px;
    padding: 30px;
} 

.project .cards .card .left .link a {
    margin-right: 20px;
}

.project .cards .card .right {
    margin : auto 0;
}

.project .cards .card .right img{
    width : 400px;
    padding-right: 30px;
}


#t3 {
    color: #403930;
    font-family: Pretendard;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 36px */
}

#t4 {
    color: #403930;
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 24px */
}

.project .cards {
    display: flex;
    flex-direction: column;
    padding-bottom: 100px;
}

@media (max-width: 1080px) {
    nav div p {
        text-transform: uppercase;
    }

    header {
        margin: 50px auto;
        height: 1100px;
    }

    header div {
        flex-direction: column;
        margin: auto;
    }

    header div .left {
        width: 1 0 100%;
    }

    header div .right {
        width: 1 0 100%;
        margin-top: 50px;
    }

    .introduce div {
        width: 1 0 100%;
    }

    header div .text {
        text-align: center;
    }

    header div .left .link {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
    }

    .stack .images {
        width: 430px;
        overflow: hidden;
        margin: 0 auto;
    }

    .stack .images img {
        width: 80px;
        height: 80px;
        margin: 10px;
    }

    .project .cards .card .right {
        display: none;
    }

    .project .cards .card .left {
        margin: 0 auto;
    }

    .project .cards .card {
        width: 600px;
    }

    .project .text {
        width: 600px;
    }
}
